*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:'Times New Roman', Times, serif;
  background: rgb(64, 129, 102);
  color: black;
}
.about-us{
  height: 100vh;
  width: 100%;
  padding: 90px 0;
}
.about{
  width: 1130px;
  max-width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.text{
  width: 600px;
}
.text h2{
  font-size: 100px;
  font-weight: 800;
  margin-bottom: 20px;
}
