
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333; 
    margin: 0;
    padding: 0;
}


.navbar {
    background-color: #333;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #555;
}

.navbar::after {
    content: "";
    clear: both;
    display: table;
}


.image-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    margin-top: 20px; 

.image-container img {
    max-width: 100%; 
    height: auto; 
    margin: 0 10px; 
}


.form-container {
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; 
}

.form-container textarea {
    resize: vertical; 
}

.form-container input[type="submit"] {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

.form-container input[type="submit"]:hover {
    background-color: #555;
}
